# Common stuff to ignore
*.pyc
*.asv

# Ingore input-output directories
Analysis/Loader/out/
Analysis/PfPRMap/data/
Analysis/PfPRMap/out/
Analysis/Population/data/
Analysis/Rainy/data
Studies/data/
Studies/out/