# Common stuff to ignore
*.pyc
*.asv

# Ingore any temp directories
/**/temp/

# Ignore data and output directories
/**/data/
/**/intermediate
/**/out/

# Ignore replicate CSV files
/Studies/**/replicates.csv
/Replicates/**/replicates.csv

# Ignore other directories as needed
Analysis/Movement/plots/
Plots/reference/

# Ignore symlinked data files - the actual data is stored in Dropbox
Plots/*_data

# Ignore IDE directories
.vscode